<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.hotwoo.play">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="fuck" />

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />

                <data
                    android:host="alien95.cn"
                    android:port="80"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <provider
            android:name=".book.BookContentProvider"
            android:authorities="cn.hotwoo.play" />

        <activity android:name=".book.AddressListActivity" />
        <activity android:name=".ui.CustomActivity"/>
    </application>

</manifest>
